/* FRONT PAGE */
.container{
    width: 1140px;
    margin: auto;
    height: auto;
    outline: solid red 2px;
}
.front-page{
    width: 1350px;
    height: 680px;
}
.front-page-header{
    padding: 28px 0px 28px 0px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header a{
    text-decoration: none;
}
.logo{
    width: auto;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    color: #000000;
    font-size: 2rem;
    font-weight: 600;
}
.logo{
    color: #000000;
    font-size: 2rem;
    font-weight: 600;

}
.logo:hover{
    color: #2eca6a;
    transition: 0.5s all;
    
}
.logo1 {
    color: #2eca6a;
    font-size: 2rem;
    font-weight: 600;
}
.navigation li{
    list-style: none;
    display: inline-block;
    justify-content: center;
    padding-left: 25px;
}
.nav-button{
    width: 137px;
}
.icofont-search-1{
    background-color: #2eca6a;

}
.button{
    /* display: inline-block; */
    width: 37px;
    height: 37px;
}
.button a{
    color: #000000;
}
.icofont-search-1{
    font-size: 30px;
}
.image-container{
    background-image: url(../../Source/real3.jpg);
    background-position: center;
    background-size: cover;
    height: 567px; ;
    width: 1350px;
}
.image-content{
    padding: 4rem 0rem 2rem 10rem;
}
.image-content-top{
    padding-top: 10px;
    color: #fff;
    font-size: 1rem;
    padding-bottom: 2rem;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
}
.image-content-body{
    font-weight: 700;
    font-size: 3.5rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    padding-bottom: 1.5rem;
}
.image-content-body span{
    color: #2eca6a;
}
.image-down{
    color: #fff;
    font-size: 1.5rem;
    padding-top: 2rem;
}
.image-down-button{
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: 2px solid #2eca6a ;
    border-radius: 50px;
}
.image-down a{
    color: #fff;
    text-decoration: none;
}
.image-down span:hover{
    background-color: rgba(56, 255, 6, 0.3);
    /* opacity: 0.4; */
    transition: all 0.3s;
    color: #000000;
    
}
.image-down a:hover{
    color: #fff;
    text-decoration: none;
}
/* SERVICES */
.services{
    width: 1350px;
    height: auto;
}
.services-title{
    padding-top:8rem;
    font-size: 2.6rem;
    font-weight: 600;
    color: #000000;
}
.services-flex{
    display: flex;
    justify-content: space-evenly;
    padding: 80px 10px 0px 15px;
}
.services-card{
    width: 33.333%;
    height: 350px;
}
.services-card-card{
    display: flex;
    flex-wrap: wrap;
}
.services-card-img{
    width: 50%;
    height: auto;
    outline: 4px  solid #2eca6a;
}
.services-card-con{
    width: 50%;
    margin-left: -40px;
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 32px;
}
.fa-cart-circle-check{
    width: 164px;
    height: 107px;
}
.services-card-card p{
    padding: 30px 50px 1rem 0px;
    line-height: 2;
    font-size: 1rem;
    font-weight: 400;
    font-family:"Poppins", sans-serif;
}
.services-card-card a{
    text-decoration: none;
    color:#000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:700;
}
.services-card-card a:hover{
    color: #2eca6a;
    transition: all 0.5s;
}
/* LATEST PROPERTIES */
/* BEST AGENTS */
/* LATEST NEWS */
/* TESTIMONIAL */
/* ABOUT */